button
{
	display: block;
	width: 80%;
	height: 30%;
	font-size: 200%;
	background: #ddddff;
	border-radius:6px;
	border:none;
	margin: 5px auto;
	padding: 10px;
}

button.small
{
	height: 10%;
	width: 30%;
}

#client-qr
{
	margin: auto;
	width: 400px;
}
